
.direction__hover{
  // transform: scale(0);
  // perspective: 400px;
}
// TOP
#hover_enter_top {
  .direction__hover{
    transform-origin: 50% 0%;
    animation: 300ms ease 0ms 1 normal forwards running enter_top;
  }
}
#hover_out_top {
  .direction__hover{
    transform-origin: 50% 0%;
    animation: 300ms ease 0ms 1 normal forwards running out_top;
  }
}
@keyframes enter_top {
  0% {
    visibility: visible;
    transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    visibility: hidden;
    transform: rotate3d(-1, 0, 0, 1.84496rad);
  }
}
@keyframes out_top {
  0% {
    visibility: hidden;
    transform: rotate3d(-1, 0, 0, 1.84496rad);
  }
  100% {
    visibility: visible;
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
// RIGHT
#hover_enter_right {
  .direction__hover{
    transform-origin: 100% 0%;
    animation: 300ms ease 0ms 1 normal forwards running enter_right;
  }
  
}
#hover_out_right {
  .direction__hover{
    transform-origin: 100% 0%;
    animation: 300ms ease 0ms 1 normal forwards running out_right;
  }
  
}
@keyframes enter_right {
  0% {
    visibility: visible;
    transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    visibility: hidden;
    transform: rotate3d(0, -1, 0, 2.03444rad);
  }
}
@keyframes out_right {
  0% {
    visibility: hidden;
    transform: rotate3d(0, -1, 0, 2.03444rad);
  }
  100% {
    visibility: visible;
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
// BOTTOM
#hover_enter_bottom {
  .direction__hover{
    transform-origin: 50% 100%;
    animation: 300ms ease 0ms 1 normal forwards running enter_bottom;
  }
  
}
#hover_out_bottom {
  .direction__hover{
    transform-origin: 50% 100%;
    animation: 300ms ease 0ms 1 normal forwards running out_bottom;
  }
  
}
@keyframes enter_bottom {
  0% {
    visibility: visible;
    transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    visibility: hidden;
    transform: rotate3d(1, 0, 0, 1.84496rad);
  }
}
@keyframes out_bottom {
  0% {
    visibility: hidden;
    transform: rotate3d(1, 0, 0, 1.84496rad);
  }
  100% {
    visibility: visible;
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
// LEFT
#hover_enter_left {
  .direction__hover{
    transform-origin: 0% 0%;
    animation: 300ms ease 0ms 1 normal forwards running enter_left;
  }
  
}
#hover_out_left {
  .direction__hover{
    transform-origin: 0% 0%;
    animation: 300ms ease 0ms 1 normal forwards running out_left;
  }
  
}
@keyframes enter_left {
  0% {
    visibility: visible;
    transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    visibility: hidden;
    transform: rotate3d(0, 1, 0, 2.03444rad);
  }
}
@keyframes out_left {
  0% {
    visibility: hidden;
    transform: rotate3d(0, 1, 0, 2.03444rad);
  }
  100% {
    visibility: visible;
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
