.login__form__container {
  display: grid;
  grid-template-columns: 1fr 416px;
  gap: 64px;
  width: 100%;
  margin-top: 80px;
  max-width: 1440px;
  padding: 0 52px 60px 52px;
}

.login__slider {
  width: 100%;
  position: relative;
}
.login__slider .mySwiper {
  position: absolute;
  width: 100%;
  height: 534px;
  max-width: 736px;
  padding-top: 20px;
  padding-bottom: 56px;
}
.login__slider .swiper-slide-shadow {
  background: white !important;
  border-radius: 24px;
}
.login__slider .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  border-radius: 24px;
  padding: 1px 0 0 0px;
}
.login__slider .swiper-button-next, .login__slider .swiper-button-prev {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid rgba(70, 68, 65, 0.16);
  z-index: 11;
}
.login__slider .swiper-button-next::after, .login__slider .swiper-button-prev::after {
  font-size: 14px;
  font-weight: 700;
  width: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login__slider .swiper-button-prev {
  right: 48px;
}
.login__slider .swiper-pagination-bullet {
  background: #0060FE;
  width: 14px;
  height: 3px;
  border-radius: 2px;
  margin: 0 2px !important;
}
.login__slider .slider__info {
  margin-top: 20px;
  color: rgba(70, 68, 65, 0.4);
  font-family: PP Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  max-width: 150px;
}

.login__card {
  border-radius: 24px;
  background: #FFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}
.login__card__title {
  color: #464441;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.login__card__description {
  color: rgba(70, 68, 65, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.login__card__content {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  max-height: 100%;
  gap: 24px;
}
.login__card a {
  color: var(--base-white, #FFF);
  font-family: PP Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
  text-transform: uppercase;
  width: 100%;
  height: 46px;
  border-radius: 100px;
  background: #0060FE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
.login__card a:hover {
  background: #0055E1;
}
.login__card img {
  height: 100%;
  width: 100%;
  max-width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  border-radius: 24px;
  background: #FFF;
  max-width: 416px;
  height: 458px;
  margin-top: 20px;
}
.login__form__title {
  color: #464441;
  font-variant-numeric: ordinal;
  -webkit-font-feature-settings: "dlig" on, "ss01" on, "liga" off;
          font-feature-settings: "dlig" on, "ss01" on, "liga" off;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 24px;
}
.login__form__description {
  color: rgba(70, 68, 65, 0.6);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 40px;
}
.login__form__input {
  margin-bottom: 50px;
}
.login__form__input p {
  color: rgba(70, 68, 65, 0.6);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2px;
}
.login__form__input .c_red {
  display: none;
  margin-top: 8px;
  color: #EB001B;
}
.login__form__input input {
  border-radius: 8px;
  background: #E8EFFC;
  width: 100%;
  border: 1px solid #E8EFFC;
  outline: none;
  height: 48px;
  padding: 0 10px;
  color: #464441;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.login__form__input input:-internal-autofill-selected {
  background-color: white !important;
}
.login__form__input input::-webkit-outer-spin-button, .login__form__input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.login__form button {
  border-radius: 100px;
  width: 100%;
  height: 46px;
  margin-bottom: 8px;
  border: none;
  background: #0060FE;
  color: #FFF;
  font-family: PP Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
  text-transform: uppercase;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
.login__form button:disabled {
  color: #C0C6D1;
  background: #E8EFFC;
}
.login__form button:disabled:hover {
  background: #E8EFFC;
}
.login__form button:hover {
  background: #0055E1;
}
.login__form__info {
  color: rgba(70, 68, 65, 0.4);
  font-family: PP Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.login__form__info a {
  color: rgb(70, 68, 65);
}

#phone__error input {
  border-color: #EB001B;
}
#phone__error .c_red {
  display: block;
}

@media (max-width: 1290px) {
  .login__form__container {
    padding: 0 0px 60px 0px;
    grid-template-columns: 1fr auto;
    gap: 30px;
  }
  .login__card__content {
    padding: 30px;
  }
  .login__form {
    width: 380px;
    padding: 30px;
  }
}
@media (max-width: 1100px) {
  .login__form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 60px;
  }
  .login__slider {
    height: 534px;
  }
  .login__slider .mySwiper {
    max-width: 100%;
  }
  .login__card {
    grid-template-columns: 350px auto;
  }
  .login__form {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .login__form form {
    max-width: 380px;
  }
}
@media (max-width: 768px) {
  .login__form__container {
    margin-top: 40px;
  }
  .login__card {
    grid-template-columns: 280px auto;
  }
  .login__card img {
    width: 100%;
  }
  .login__card__content {
    gap: 15px;
  }
  .login__slider {
    height: 470px;
  }
  .login__slider .mySwiper {
    height: 100%;
  }
}
@media (max-width: 680px) {
  .login__slider {
    margin-bottom: 30px;
    height: auto;
  }
  .login__slider .mySwiper {
    position: relative;
    padding-bottom: 15px;
  }
  .login__card {
    grid-template-columns: 1fr;
  }
  .login__card img {
    height: 250px;
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .login__form__container {
    margin-top: 20px;
  }
  .login__card img {
    height: 200px;
  }
  .login__card__content {
    padding: 20px;
  }
  .login__slider .mySwiper {
    padding-bottom: 0;
  }
  .login__slider .swiper-button-next, .login__slider .swiper-button-prev {
    width: 30px;
    height: 30px;
  }
  .login__slider .swiper-button-next::after, .login__slider .swiper-button-prev::after {
    font-size: 12px;
  }
  .login__slider .swiper-pagination {
    display: none;
  }
  .login__form {
    margin-top: 30px;
  }
}/*# sourceMappingURL=Login.css.map */