.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}
.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.navbar .logo img:nth-child(1) {
  max-height: 41px;
}
.navbar .logo img:nth-child(3) {
  max-height: 26px;
}
.navbar .nav__line {
  width: 1px;
  background: rgba(70, 68, 65, 0.2);
  height: 16px;
}
.navbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.navbar .nav a {
  color: #464441;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
}
.navbar .nav a img {
  width: auto;
  height: 100%;
}
.navbar .nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.navbar .link__mobile {
  display: none !important;
}

.footer__container {
  border-radius: 24px 24px 0px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0060FE), to(rgba(0, 96, 254, 0.8)));
  background: linear-gradient(180deg, #0060FE 0%, rgba(0, 96, 254, 0.8) 100%);
}

.footer {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__left p {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}
.footer__left a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
.footer__center p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 115px;
  margin-bottom: 16px;
}
.footer__center .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.footer__center .cards img {
  padding: 8px;
  border-radius: 8px;
  background: #FFF;
}
.footer__right p {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 19px;
  text-align: right;
}
.footer .nav__line {
  background: rgba(255, 255, 255, 0.2);
  height: 12px;
  width: 1px;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.footer__links a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 1024px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
    margin-top: 30px;
  }
}
@media (max-width: 850px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px;
  }
  .footer__left, .footer__center, .footer__right {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .footer__center, .footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 650px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar .link__mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .navbar .link__desktop {
    display: none !important;
  }
  .navbar .nav__line {
    display: none;
  }
}
@media (max-width: 570px) {
  .navbar .logo img:nth-child(1) {
    max-height: 41px;
    width: 120px;
  }
  .navbar .logo img:nth-child(3) {
    max-height: 26px;
    width: 60px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0 20px;
  }
  .navbar {
    gap: 20px;
  }
  .navbar .logo {
    gap: 15px;
  }
  .navbar .nav {
    gap: 15px;
  }
  .footer {
    padding: 25px;
  }
}
@media (max-width: 425px) {
  .navbar {
    gap: 15px;
  }
  .navbar .logo img:nth-child(1) {
    width: 100px;
  }
  .navbar .logo img:nth-child(3) {
    width: 50px;
  }
  .navbar .nav {
    gap: 10px;
  }
  .navbar .nav .logo {
    gap: 10px;
  }
  .navbar .nav a {
    width: 20px;
    height: 20px !important;
  }
  .footer {
    padding: 25px 0px;
  }
  .footer__left, .footer__center, .footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
  .footer__links .nav__line {
    display: none;
  }
}