.direction__hover {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#hover_enter_top .direction__hover {
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation: 300ms ease 0ms 1 normal forwards running enter_top;
          animation: 300ms ease 0ms 1 normal forwards running enter_top;
}

#hover_out_top .direction__hover {
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation: 300ms ease 0ms 1 normal forwards running out_top;
          animation: 300ms ease 0ms 1 normal forwards running out_top;
}

@-webkit-keyframes enter_top {
  0% {
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    visibility: hidden;
    -webkit-transform: rotate3d(-1, 0, 0, 1.84496rad);
            transform: rotate3d(-1, 0, 0, 1.84496rad);
  }
}

@keyframes enter_top {
  0% {
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    visibility: hidden;
    -webkit-transform: rotate3d(-1, 0, 0, 1.84496rad);
            transform: rotate3d(-1, 0, 0, 1.84496rad);
  }
}
@-webkit-keyframes out_top {
  0% {
    visibility: hidden;
    -webkit-transform: rotate3d(-1, 0, 0, 1.84496rad);
            transform: rotate3d(-1, 0, 0, 1.84496rad);
  }
  100% {
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes out_top {
  0% {
    visibility: hidden;
    -webkit-transform: rotate3d(-1, 0, 0, 1.84496rad);
            transform: rotate3d(-1, 0, 0, 1.84496rad);
  }
  100% {
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}
#hover_enter_right .direction__hover {
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-animation: 300ms ease 0ms 1 normal forwards running enter_right;
          animation: 300ms ease 0ms 1 normal forwards running enter_right;
}

#hover_out_right .direction__hover {
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-animation: 300ms ease 0ms 1 normal forwards running out_right;
          animation: 300ms ease 0ms 1 normal forwards running out_right;
}

@-webkit-keyframes enter_right {
  0% {
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    visibility: hidden;
    -webkit-transform: rotate3d(0, -1, 0, 2.03444rad);
            transform: rotate3d(0, -1, 0, 2.03444rad);
  }
}

@keyframes enter_right {
  0% {
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    visibility: hidden;
    -webkit-transform: rotate3d(0, -1, 0, 2.03444rad);
            transform: rotate3d(0, -1, 0, 2.03444rad);
  }
}
@-webkit-keyframes out_right {
  0% {
    visibility: hidden;
    -webkit-transform: rotate3d(0, -1, 0, 2.03444rad);
            transform: rotate3d(0, -1, 0, 2.03444rad);
  }
  100% {
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes out_right {
  0% {
    visibility: hidden;
    -webkit-transform: rotate3d(0, -1, 0, 2.03444rad);
            transform: rotate3d(0, -1, 0, 2.03444rad);
  }
  100% {
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}
#hover_enter_bottom .direction__hover {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-animation: 300ms ease 0ms 1 normal forwards running enter_bottom;
          animation: 300ms ease 0ms 1 normal forwards running enter_bottom;
}

#hover_out_bottom .direction__hover {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-animation: 300ms ease 0ms 1 normal forwards running out_bottom;
          animation: 300ms ease 0ms 1 normal forwards running out_bottom;
}

@-webkit-keyframes enter_bottom {
  0% {
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    visibility: hidden;
    -webkit-transform: rotate3d(1, 0, 0, 1.84496rad);
            transform: rotate3d(1, 0, 0, 1.84496rad);
  }
}

@keyframes enter_bottom {
  0% {
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    visibility: hidden;
    -webkit-transform: rotate3d(1, 0, 0, 1.84496rad);
            transform: rotate3d(1, 0, 0, 1.84496rad);
  }
}
@-webkit-keyframes out_bottom {
  0% {
    visibility: hidden;
    -webkit-transform: rotate3d(1, 0, 0, 1.84496rad);
            transform: rotate3d(1, 0, 0, 1.84496rad);
  }
  100% {
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes out_bottom {
  0% {
    visibility: hidden;
    -webkit-transform: rotate3d(1, 0, 0, 1.84496rad);
            transform: rotate3d(1, 0, 0, 1.84496rad);
  }
  100% {
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}
#hover_enter_left .direction__hover {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-animation: 300ms ease 0ms 1 normal forwards running enter_left;
          animation: 300ms ease 0ms 1 normal forwards running enter_left;
}

#hover_out_left .direction__hover {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-animation: 300ms ease 0ms 1 normal forwards running out_left;
          animation: 300ms ease 0ms 1 normal forwards running out_left;
}

@-webkit-keyframes enter_left {
  0% {
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    visibility: hidden;
    -webkit-transform: rotate3d(0, 1, 0, 2.03444rad);
            transform: rotate3d(0, 1, 0, 2.03444rad);
  }
}

@keyframes enter_left {
  0% {
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    visibility: hidden;
    -webkit-transform: rotate3d(0, 1, 0, 2.03444rad);
            transform: rotate3d(0, 1, 0, 2.03444rad);
  }
}
@-webkit-keyframes out_left {
  0% {
    visibility: hidden;
    -webkit-transform: rotate3d(0, 1, 0, 2.03444rad);
            transform: rotate3d(0, 1, 0, 2.03444rad);
  }
  100% {
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes out_left {
  0% {
    visibility: hidden;
    -webkit-transform: rotate3d(0, 1, 0, 2.03444rad);
            transform: rotate3d(0, 1, 0, 2.03444rad);
  }
  100% {
    visibility: visible;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}