@font-face {
  font-family: PP Neue Montreal;
  src: url(../fonts/ppneuemontreal-book.otf);
  font-weight: 400;
}
@font-face {
  font-family: PP Neue Montreal;
  src: url(../fonts/ppneuemontreal-medium.otf);
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: PP Neue Montreal;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #E8EFFC;
}

body::-webkit-scrollbar {
  width: 0.4em;
  height: 0;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px #0060FE;
          box-shadow: inset 0 0 2px #0060FE;
  background: rgba(255, 255, 255, 0.7);
}

body::-webkit-scrollbar-thumb {
  background-color: #0060FE;
  border-radius: 2px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

a {
  text-decoration: none;
  cursor: url(../../assets/icons/cursor.svg), pointer;
}

button {
  cursor: pointer;
  cursor: url(../../assets/icons/cursor.svg), pointer;
}

.site__loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E8EFFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 64px;
  padding: 10px;
  z-index: 1000;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.site__loading p {
  height: 32px;
  width: 1px;
  background: rgba(70, 68, 65, 0.2);
}
.site__loading img, .site__loading p {
  -webkit-animation: load 2s linear infinite alternate;
          animation: load 2s linear infinite alternate;
  opacity: 0.3;
}

@-webkit-keyframes load {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes load {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 570px) {
  .site__loading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .site__loading p {
    width: 70%;
    height: 1px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0 20px;
  }
}